::ng-deep .mat-form-field-outline-start {
    background-color:hsl(240, 23%, 94%);
    border-radius: 28px 0 0 28px !important;
    min-width: 250px !important;
  }
  ::ng-deep .mat-form-field-outline-end {
    background-color:hsl(240, 23%, 94%);
    border-radius: 0 28px 28px 0 !important;
  }
  .mat-form-field{
    width:400px !important;
 }
 h3 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h3 span { 
     background:#fff; 
     padding:0 10px; 
 }
.mat-icon {
  vertical-align: middle;
}
.social-button {
    padding-bottom: 10px;
    height: 50px; 
    width: 400px;
    font-size: 110%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: hsl(240, 23%, 94%) 0px 0 15px;
    -moz-box-shadow: hsl(240, 23%, 94%) 0 0 15px;
    box-shadow: hsl(240, 23%, 94%) 0 0 15px;
} 
.mat-flat-button:focus, .mat-raised-button:focus {
    outline: none;
  }
  .mat-raised-button{
    border-radius: 50px;
    width: 120px;
  }